html,body{
  background-color: #f5f5f5;
}

body {
}
	
.container-fluid, .row{
  background-color: #f5f5f5;
}

#map-canvas {
  height:100%;
  position: absolute;
  right:0;
}

.layerToggle {
	position: absolute;
	z-index: 1;
	text-align: center;
	height: 6vh;
    padding: 12px 20px;
}

#toggleAttractions {
	top: 2vh;
	right: 1vw;
	width: 10vw;
}
#toggleTweets {
	top: 8vh;
	right: 1vw;
	width: 10vw;
}
#getDirections {
	position: static;
	left: 0;
	padding: 12px 20px;
	width: 25vw;
	margin: 1vh 0;
	background-color: #2ca25f;
	color: #ffffff;
	font-weight: bold;
	font-size: 1em;
}

#getDirections:hover {
	background-color: rgba(153, 216, 201,0.8);
	color: #525252;
}

form {
	position: absolute;
	float: left;
	top: 2vh;
	left: 1vw;
	z-index: 2;
}

.dirIcon {
	filter: invert(65%);
	width: 4vw;
	float: left;
	padding-top: 3vh;
	padding-right: 0.5vw;
}

.inputContainer {
	display: inline-block;
}

input[type=text], select {
    width: 20vw;
    height: 6vh;
    padding: 12px 20px;
    margin: 1vh 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

/* infoBox navButtons */

#startbutton {
	display:inline;
	background-color: rgba(44,162,95,0.8);
	float: left;
	margin-left: 1vw;
	margin-top: 0.5vh;
}

#startbutton:hover {
	background-color: rgba(153, 216, 201,0.8);
}

#endbutton {
	display:inline;
	background-color: rgba(227, 74, 51,0.8);
	float:right;
	margin-right: 1vw;
	margin-top: 0.5vh;
}

#endbutton:hover {
	background-color: rgba(253, 187, 132,0.8);
}



/* side panel */

#sidePanelContainer {
	margin: 1vh 0;
	background-color: white;
	width: 27vw;
	padding: 1vw 2vh;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#introContent {
	border-bottom: 1px solid #ccc;
}

#panelButton {
	display:block;
	margin: 0.5vh auto;
	border: none;
	opacity: 0.75;
}

.widgets-wrapper {
	margin: auto;
	width:100%;
}

.widgets {
	z-index: 100;
	height: 5vh;
	width: 100%;
	display:inline-block;
	left:50%;
	opacity: 0.75;
}

.widget:hover {
	filter: invert(75%);
	cursor: pointer;
}

#help {
	display: inline-block;
	float: right;
}
#locateMe {
	display: inline-block;
	width: 50%;
	float: left;
}

#locateMe p {
	display: table-cell;
	vertical-align: middle;
	padding-top: 0.5vh;
	padding-left: 0.5vw;
}

#helpImg {
	float: right;
	width: 1.5vw;
}
#locateMeImg {
	float: left;
	width: 2vw;
}