html,body{
  background-color: #f5f5f5;
}

body {
  padding-top: 50px;
}

.navbar-inverse{
	background-color:#f5f5f5;
	background-image:none;
	color:black;
	border-color: lightgray;
}
.navbar-inverse .navbar-brand {
	color:black;
	}
	
.container-fluid, .row{
  background-color: #f5f5f5;
}
.sidebar {
  padding: 12px;
  background-color: #f5f5f5;
}

form {
  padding-top: 12px;
}

#map-canvas {
  height:92%;
  position: absolute;
  right:0;
}

.layerToggle {
	position: absolute;
	z-index: 1;
	text-align: center;
}

#toggleAttractions {
	top: 15vh;
	right: 1vw;
	height: 5vh;
	width: 8vw;
}
#toggleTweets {
	top: 20vh;
	right: 1vw;
	height: 5vh;
	width: 8vw;
}
#getDirections {
	position: static;
	left: 0;
	padding: 12px 20px;
	width: 20vw;
	margin: 1vh 0;
	background-color: #2ca25f;
}

form {
	position: absolute;
	float: left;
	top: 12vh;
	left: 1vw;
	z-index: 2;
}

input[type=text], select {
    width: 20vw;
    padding: 12px 20px;
    margin: 1vh 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* infoBox navButtons */

#startbutton {
	display:inline;
	background-color: rgba(44,162,95,0.8);
	float: left;
	margin-left: 1vw;
	margin-top: 0.5vh;
}

#startbutton:hover {
	background-color: rgba(153, 216, 201,0.8);
}

#endbutton {
	display:inline;
	background-color: rgba(227, 74, 51,0.8);
	float:right;
	margin-right: 1vw;
	margin-top: 0.5vh;
}

#endbutton:hover {
	background-color: rgba(253, 187, 132,0.8);
}



/* side panel */

#sidePanelContainer {
	margin: 1vh 0;
	background-color: white;
	width: 22vw;
	padding: 1vw 2vh;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#introContent {
	border-bottom: 1px solid #ccc;
}

#panelButton {
	display:block;
	margin: 0.5vh auto;
	border: none;
	opacity: 0.75;
}

.widgets-wrapper {
	width:5vw;
	margin: auto;
	display: inline-block;
}

.widgets {
	z-index: 100;
	height: 5vh;
	display:inline-block;
	left:50%;
	opacity: 0.75;
}

.widget:hover {
	filter: invert(75%);
	cursor: pointer;
}

#help,
#locateMe {
	display: inline-block;
	float: right;
}

#helpImg, 
#locateMeImg {
	display: block;
	margin: auto
}